@media only screen and (max-width: 360px) {
    
    .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact > .contact-links {
        align-items: left;
        margin-left: 10px;
    }

}

@media only screen and (max-width: 453px) {
    .projects {
        position: relative;
        top: 28px;
    }
}

body{
    margin: 0;
}
a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    height: 20px;
    width: auto;
    display: inline;
}
.logo:hover {
    opacity: 75%;
}

.contact{
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: dashed 1px hotpink;
    z-index: 1;
}
.email{
    margin-left: 10px;
    margin-top: 10px;
    line-height: 25px;
}
.contact > .contact-links ul{
    margin-right: 10px;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0;
}
.contact > .contact-links ul li{
    display: inline;
}

.contact > .contact-links ul li img{
    height: 25px;
}

.flex-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: palegoldenrod;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: dotted 1px cyan;
}
.hero1{
    margin-top: 90px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero1 h2 {
    font-size: 18px;
}
.hero2{
    margin-bottom: 40px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: Impact, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px white, 2px 2px hotpink, 3px 3px hotpink, 4px 4px hotpink, 5px 5px hotpink, 6px 6px hotpink, 7px 7px hotpink, 8px 8px hotpink, 9px 9px hotpink, 10px 10px hotpink;
}
.hero2 h1 {
    font-size: 36px;
}
.small {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero3{
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero3 h3 {
    font-size: 18px;
}
.intro{
    height: 50px;
    text-align: center;
    line-height: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
    margin-top: 20px;
}
.wavy{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
    font-weight: bold;
}
.headerbutton {
    margin-top: 12px;
}
button{
    background-color: white;
    border: 1px dotted lightgray;
    color: black;
    padding: 10px;
    border-radius: 12px;
    outline: none;
    margin-bottom: 10px;
}
button:active{
    background-color: black;
}
.bio{
    max-width: 800px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: normal;
}
#red{
    border: dotted 1px magenta
}
#green{
    border: solid 1px greenyellow
}
#blue{
    border: dotted 1px cyan
}
#yellow{
    border: solid 1px yellow
}
#grey{
    border: dotted 1px lightgray
}
#border{
    border: dotted 1px lightgray;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.professional-intro{
    height: 50px;
    display: block;
}
.projects-intro{
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.arrow-down{
    text-align: center;
    margin-top: 25px;
}
.professional-intro > .arrow-down img{
    width: 100px;
}
.resume-download{
    margin: 25px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}
.projects{
    margin-top: 120px;
}
.project{
    width: 100%;
    text-align: center;
}
.project-screen{
    display: inline-block;
    margin: 0 auto;
}
.project-screen > img {
    max-width: 800px;
    width: 95%;
    border: solid black 3px;
    margin: 0px auto;
}
.project-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    border-bottom: dotted lightgrey 1px;
}
.project-name{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 15px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
    font-weight: bold;
}
.project-coding{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-right: 15px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: greenyellow;
    font-weight: bold;
}
.project-desc{
    margin: 0 auto;
    width: 95%;
    max-width: 800px;
    max-height: 200px;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-links{
    border-top: dotted 1px lightgrey;
    text-align: right;
    max-width: 800px;
    height: 30px;
    width: 100%;
    display: block;
}
.project-links > ul{
    margin-right: 10px;
    padding: 0;
    list-style-type: none;
}
.project-links > ul li{
    display: inline;
    line-height: 15px;
}
.project-links > ul li img{
    height: 20px;
    position: relative;
    top: 5px;
}
.demo {
    font-weight: bold;
}
.demo a:hover {
    color: darkgray
}
.demo a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px white, 2px 2px hotpink, 3px 3px hotpink, 4px 4px hotpink, 5px 5px hotpink;
}