@media all and (min-width: 570px) {
    .contact{
        flex-wrap: nowrap !important;
    }
    .contact-links{
        justify-content: flex-end !important;
        text-align: right;
    }
}

body{
    margin: 0;
}
a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    height: 20px;
    width: auto;
    display: inline;
}
.logo:hover {
    opacity: 75%;
}

.contact{
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: dashed 1px #FF69B4;
    z-index: 1;
}
    .email{
        display: flex;
        width: 100%;
        padding: 10px;
    }
    .contact-links{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-top: 10px;
    }
        .contact > .contact-links ul{
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            margin: 0;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 10px;
        }
        .contact > .contact-links ul li{
            display: inline-block;
        }

        .contact > .contact-links ul li img{
            height: 25px;
            padding-top: 6px;
            margin-right: 10px;
        }

.flex-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #FFFF69;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: dotted 1px #69FFB4;
    overflow: hidden;
}
.hero1{
    margin-top: 100px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero1 h2 {
    font-size: 18px;
}
.hero2{
    height: 100px;
    text-align: center;
    font-family: Impact, Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px white, 2px 2px hotpink, 3px 3px hotpink, 4px 4px hotpink, 5px 5px hotpink, 6px 6px hotpink, 7px 7px hotpink, 8px 8px hotpink, 9px 9px hotpink, 10px 10px hotpink;
}
.hero2 h1 {
    font-size: 48px;
}
.small {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero3{
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero3 h3 {
    font-size: 18px;
}
.intro{
    height: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 45px;
    margin-top: 75px;
    margin-right: 15px;
    margin-left: 15px;
}
.intro h4 {
    font-size: 16px;
    font-weight: normal;
}
.wavy{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
    font-weight: bold;
}
button{
    background-color: white;
    border: 1px dotted #6969FF;
    color: black;
    padding: 10px;
    border-radius: 12px;
    outline: none;
    margin-right: 10px;
    width: 200px;
}
    #headerbutton{
        width: 125px;
        margin-right: 0px;
    }
button:active{
    background-color: black;
}
.bio{
    max-width: 800px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 36px;
}
.bio h5{
    font-size: 16px;
    font-weight: normal;
}
#red{
    border: dotted 1px #FF69B4;
    padding: 5px;
}
#green{
    border: solid 1px #69FFB4;
    padding: 5px;
}
#blue{
    border: dotted 1px #6969ff;
    padding: 5px;
}
#yellow{
    border: solid 1px #FFFF69;
    padding: 5px;
}
#grey{
    border: dotted 1px lightgray;
    padding: 5px;
}
#border{
    border: dotted 1px lightgray;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.professional-intro{
    height: 50px;
    display: block;
}
.projects-intro{
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.arrow-down{
    text-align: center;
    margin-top: 25px;
}
.professional-intro > .arrow-down img{
    width: 100px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.project{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    text-align: center;
    max-width: 800px;
    padding: 10px;
}
    .project-screen{
        display: inline-block;
        margin: 0 auto;
    }
        .project-screen > img {
            max-width: 800px;
            width: 98%;
            border: solid black 3px;
            margin: 0px auto;
        }
.project-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    font-style: italic;
    border-bottom: dotted lightgrey 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.project-name{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #FF69B4;
    font-weight: bold;
}
.project-coding{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #69ffb4;
    font-weight: bold;
}
.project-desc{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: dotted 1px lightgrey;
}
.project-links{
    text-align: right;
    max-width: 800px;
    width: 100%;
    display: block;
    padding-top: 10px;
}
.project-links > ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.project-links > ul li{
    display: inline;
}
.project-links > ul li img{
    height: 20px;
    position: relative;
    top: 5px;
}
.demo {
    font-weight: bold;
}
.demo a:hover {
    color: darkgray
}
.demo a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px white, 2px 2px hotpink, 3px 3px hotpink, 4px 4px hotpink, 5px 5px hotpink;
}